@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #6bffb52d;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container {
  @apply col-span-1 h-[90vh] border-[1px] border-solid border-black rounded-lg bg-white p-3
}

.btn {
  @apply border-[1px] border-solid border-black px-6 py-1 rounded-lg
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: gray;
  height: 6px;
}

@media (max-width: 800px) {
  ::-webkit-scrollbar {
      display: none;
  }

  ::-webkit-scrollbar-thumb {
      display: none;
  }
}
